// Footer //
// ---------------------------------------------------------------------//
.footer {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
  background-color: $color-faded;
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & p {
    font-size: 1.4rem;
    color: #575757;
    font-weight: 400;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    & .container {
      flex-direction: column;
    }
    padding: 3.2rem;
    & p {
      font-size: 1.2rem;
      &:first-of-type {
        margin-bottom: 0.8rem;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 375px) {
    & .container {
      flex-direction: column;
    }
    padding: 3.2rem 0;
    & p {
      font-size: 1.2rem;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    & p {
      &:first-of-type {
        margin-bottom: 0.8rem;
      }
    }
  }
}
